<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Superintendent's Student Award 颁奖典礼 - 夏云飞</title>
    <style>
        /* 设置图片的最大宽度和高度 */
        img.small-image {
            max-width: 50%; /* 设置图片最大宽度为父元素的50% */
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Superintendent's Student Award 颁奖典礼 <br> 夏云飞 <br> <a href="https://www.cusdk8.org/about-us/superintendent/superintendents-awards#fs-panel-30463" target="_blank">
        点击访问学校网站
    </a></h1>

    <video width="640" height="360" controls>
        <source src="{{ url_for('static', filename='superintendent_reward_trim.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br>
    <img src="static/doc_read180.jpg" alt="老师文档" class="small-image">
<pre>
2024年2月7日
晚上好。
我叫凯瑟琳·伯纳特，史蒂文去年在我的阅读课上。从第一天起，史蒂文给我的印象就是那种雄心勃勃、聪明好胜的学生，我怀疑他可能不会为了实现目标而放弃任何事情。我是对的...今晚我很高兴能向他致敬。
我们齐聚一堂，不仅是为了庆祝学术上的里程碑，也是为了庆祝一段品格、韧性和坚定不移的奉献之旅。当我们停下来向史蒂文·夏表示敬意时
作为第八级警司奖的获得者，我对能有幸见证这位杰出的年轻人感到无比自豪和感激。
史蒂文，你体现了坚韧的本质--这是一种经常令人钦佩的品质，但在你这个年龄很少被掌握。我永远不会忘记，一年结束的时候，我在班上问你暑假的计划是什么，你说：“学习。”你要我在暑假里学习词汇和词根，目的是尽可能地掌握英语。在学术追求领域，你是奉献和坚持不懈的典范。你对学术成就的承诺，以无数小时的努力、纪律和牺牲为标志，只有你对知识的渴望和对掌握的追求才能与你的每一次努力相匹配。
然而，在你的学术成就之外，还有更难得的真
性格--积极的态度、谦逊的态度和成熟的人生观。你以乐观的态度对待你的一天，把挑战视为成长的机会，并从期待他人的善良开始。当你的同学看到你的时候
学术上的优秀，他们从不怀疑你认为他们是你平等的，你的朋友，你尊敬的同学。很多时候，我看到你倾听别人的声音，让他们听你说话，与他们分享你的成功。这种对他人及其价值的关注和认识是一种非同寻常的品质，对我们的世界至关重要。
你坚定不移地相信教育和仁慈的力量可以塑造一个充实和有意义的生活，这不仅值得称赞，而且具有感染力……而你最好的时刻还在后头。
祝贺你获得这一当之无愧的荣誉，史蒂文。愿你的未来像你给我们所有人带来的影响一样光明。
</pre>
</body>
</html>
